#main-head {
  background-image: url(../images/dice.jpg);
  color: white;
  text-align: center;
  padding-bottom: 50%;
  background-size: 1400px 700px;
  font-family: 'Fredericka the Great', cursive;
}
ul{
  list-style: none;
}
#input-one{
  margin-top: 15%
}
#lets-play{
  background-color: white;
  color: black;
}
